* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Body*/
.header {
  padding: 1rem;
  margin: 1rem;
  min-height: 300px;
  border-radius: 10px;
  background-color: #f3f3f3;
  box-shadow: 1rem 1rem 2rem #dfdfdf;
}
/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
search {
  gap: 10px;
  display: grid;
  padding: 0.5rem;
  color: #6d1ba4;
  border-radius: 5rem;
  background-color: #d9d9d9;
  grid-template-columns: 1fr 0.1fr;
}
.FaSearch{
  font-size: 1.2rem;
}
.BiMenu{
  position: absolute;
  /* display: none; */
  visibility: hidden;
}
search input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: none;
  padding: 0px 0px 0px 8px;
}
.title h1 {
  color: #9900ff;
}
/* Log in and SignUp*/
.log-color {
  gap: 5px;
  display: flex;
  align-items: center;
}
.log input {
  border: none;
  width: 3.6rem;
  height: 2.4rem;
  font-size: 13px;
  margin: 0px 3px;
  color: #fff;
  font-weight: bold;
  border-radius: 13px;
  /* background: #d9d9d9; */
  background: linear-gradient(360deg, #9900ff, #ddd0d0);
}
.log input:hover {
  cursor: pointer;
}
/* Other links */
center .refrence {
  gap: 2rem;
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ddd0d0;
}
.refrence li {
  color: #6d1ba4;
  font-size: 0.9rem;
  font-weight: bold;
}
.refrence li:hover {
  cursor: pointer;
}
/* Main details */
.body {
  margin: 2rem;
  display: grid;
  grid-template-columns: 200px 400px;
}
.body .profile {
  width: 170px;
  height: 170px;
  background: fixed;
  overflow: hidden;
}
.body .profile img{
  width: 170px;
  height: 180px;
}
.body .details {
  padding-top: 1.5rem;
}
.body .details h3 {
  color: #6d1ba4;
}
.Find-me{
  gap: .4rem;
  display: flex;
  align-items: center;
}
.Find-me h3{
  font-size: 1.4rem;
}

/* @media (width <= 375px) {
  Search{
    background: none;
  }
  Search input{
    display: none;
  }
  .FaSearch{
    font-size: 1.3rem;
    position: absolute;
    left: 290px;
  }
 .BiMenu{
  top: 34px;
  font-size: 2rem;
  visibility: visible;
 }
  .title h1{
    right: 10px;
    display: flex;
    font-size: 1.1rem;
    position: absolute;
  }
  .log-color{
    display: none;
  }
  center .refrence, .refrence li {
    display: none;
  }
  .body {
    gap: 1rem;
    margin: .3rem;
    display: grid;
    grid-template-columns: .8fr 1fr;
  }
  .body .profile {
    width: 125px;
    height: 125px;
    margin-top: 3rem;
  }
  .body .details p {
    font-size: 0.7rem;
  }
} */
