* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --font_colors: #9900ff;
  --text_color: #6d1ba4;
  --light-mode:#e7e7e7;
}
.dark-theme{
  background: #101010;
}
header{
  margin: auto;
  max-width: 1100px;
}
nav{
  display: flex;
  margin: 1.5rem 0rem;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  grid-template-columns: .5fr 1fr;
  background-color: #eeecec;
  justify-content: space-between;
  grid-template-columns: .5fr 1fr;
}
.dark-theme nav{
  background-color: #1d1d1d;
}
nav .title{
  margin-top: .8rem;
  font-size: 1rem;
  color: var(--text_color);
}
nav .links{
  display: flex;
}
nav .links li{
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--font_colors);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 1rem;
  color: #535353;
}
nav .links li:hover{
  cursor: pointer;
  background: #dbdbdb;
  color: var(--text_color);
  transition: 0.6s ease-in-out;
}
.dark-theme nav .links li:hover{
  background-color: #2e2d2d;
  color: var(--font_colors);
}
.dark-theme nav .links li{
  color: var(--light-mode);
}

nav .lower{
  gap: 1.5rem;
  display: flex;
  margin-top: .4rem;
  align-items: center;
  flex-direction: row-reverse;
}

nav .lower .search_btn{
  font-size: 1.3rem;
}
nav .lower .search_btn{
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--text_color);
}
.dark-theme nav .lower .search_btn{
  color: var(--light-mode);
}
.dark-theme nav .lower .search_btn:hover{
  transition: 0.8s ease-in-out;
  color: var(--font_colors);
}
.personal_details{
  display: grid;
  grid-gap: 1.5rem;
  margin: 2.5rem 4rem;
  grid-template-columns: max-content 1fr;
}
.personal_details .profile-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3rem;
  border-radius: 50%;
}
.personal_details .profile-img img{
  width: 200px;
  height: 200px;
}
.about{
  padding: 1rem 0rem;
}
.about div h3{
  font-size: 1.7rem;
  padding-bottom: 1rem;
  color: var(--font_colors);
}
.about p{
  font-size: 1.1rem;
}

 .dark-theme .about p{
  color: var(--light-mode);
}
.about a{
  text-decoration: none;
}
.about button{
  gap: .5rem;
  border: none;
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem 1.5rem;
}

.about button h3{
  font-size: 1.2rem;
}
.dark-theme .about button{
  background: #1d1d1d;
}
.about button h3{
  font-size: 1.2rem;
}
.dark-theme .about button h3{
  color: var(--light-mode);
}

.menu_icon{
  display: none;
}

@media (width <= 800px) {
  .personal_details{
      grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  }
  
  nav .links{
    display: none;
  }
  nav .lower{
    display: none;
  }
  .about{
    padding: 0rem;
  }
  .menu_icon{
    font-size: 2.8rem;
    display: block;
  }
  .personal_details{
      grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  }
  .lower {
    display: flex;
  }
}